<form action="show" method="post" accept-charset="utf-8">
  <label for="shift">Letter </label>
  <input type="text" name="shift" id="shift">

  <label for="message">Message</label>

  <input type="text" name="message" id="message">

  <input type="submit" value="Encode!">

</form>
